* { 
   margin: 0;
   padding: 0;
}

header {
    background-color: rgb(184, 184, 191);
}
header h1{
    font-size: 60px;
    text-align: center;
    padding: 10px;
}
header .blue {
    color: rgb(12, 6, 56)

}